body {
    background-color: white;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    color: #474747;
}

#catchphrase {
    font-family: 'Space Mono', monospace;
}

#aboutMe {
    font-size: 2.0em;
}

.topnavbar {
    overflow: hidden;
    height: 80px;
}

.topnavbar ul {
    float: right;
    list-style: none;
    display: table;
    width: 400px;
    text-align: center;
}

.topnavbar li {
    display: table-cell;
    position: relative;
}

.topnavbar a {
    color: #474747;
    font-size: 1.0em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;

    display: inline-block;
    padding: 15px 10px;
    position: relative;
}

.topnavbar a:after {
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    left: 50%;
    position: absolute;
    background: #127563;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.topnavbar a:hover:after {
    width: 100%;
    left: 0;
}

.topnavbar a.active {
    color: #127563;
}

#name {
    float: left;
    position: relative;
    display: block;
    color: #474747;
    text-align: center;
    padding: 2vw;
    font-weight: bold;
    font-size: 1.5em;
}

.content {
    /* align: center; */
    margin: 40px 100px 100px 100px;
    text-align: center;
    padding-left: 40px;
    /*padding-bottom: 100px;*/
}

.header-content {
    margin-bottom: 20px;
}

.header-content h1 {
    font-size: 50px;
    color: #127563;
}

.header-content p {
    color: #474747;
}

.works {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    position: relative;
    /* width: 50%; */
    /* margin: 10px; */
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .2s ease;
    background-color: #127563;
}

.container:hover .overlay {
    opacity: 0.95;
}

.overlay-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

footer {
    text-align: center;
    font-size: 0.7em;
    color: #919191;
    padding: 20px;
}

.descr {
    margin-left: 500px;
    justify-content: left;
}

.about-me {
    margin: 40px 100px 100px 100px;
    text-align: left;
}

.about-me p {
    float: right;
    justify-content: left;
    text-align: left;
    margin-top: 50px;
}

.image-me {
    /*border-radius: 10px;*/
    float: left;
    margin: 40px 0px 0px 40px;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

