body {
    background-color: white;
    font-family: 'HKGroteskRegular', sans-serif;
    text-align: center;
    color: #474747;
    /*margin: 0px;*/
}

.imgblk {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cell {
    position: relative;
    display: inline-block;
    width: 400px;
    height: 300px;
    margin: 20px;
    border-radius: 5px;
    border: 2px solid #474747;
    transition: all 0.3s ease-out;
}

/*.cell:hover {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.16);
    transform: scale(1.03);
}*/

.overlay {
  position: absolute;
  top: 2px;
  bottom: 0;
  left: 2px;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #474747;
}

.cell:hover .overlay {
  opacity: 0.8;
}

.overlayText {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 30px;
  color: white;
}

.topnavbar {
    overflow: hidden;
    font-family: 'HKGroteskRegular', sans-serif;
}

.topnavbar a {
  float: right;
  display: block;
  color: #474747;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnavbar a:hover {
  color: #0d7844;
  color: black;
  text-decoration: underline;
}
.topnavbar a.active {
  color: #0d7844;
}

.topnavbar div {
  float: left;
  display: block;
  color: #474747;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.text {
  text-align: left;
  padding-left: 250px;
  padding-right: 250px;
  padding-bottom: 60px;
}

.gmimg {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.gmimg1 {
  display: flex;
}

